* {
    background: rgba(169, 156, 85, 0.564);
}
body{
    align-content: center;
}
#main-title {
    display: flex;
    justify-content: center;
}
.search-bar {
    margin: 2% 25% 2%;
    display: flex;
    justify-content: center;
}
button {
   margin: 0px 0px 0px 30px;
   color: rgba(225, 225, 225, 0.945);
}
header {
    justify-content: center;
    grid-area: one;
}
#monster-name {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#display {
    display: flex;
    background-color:rgba(157, 119, 38, 0.564);
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin: 0em 1em 0em 1em;
}
.column {
    border: 1px black solid;
    width: 30%;
    height: 300px;
}