* {
    background: rgba(169, 156, 85, 0.564);
}
body{
    align-content: center;
}
#main-title {
    display: flex;
    justify-content: center;
}
.search-bar {
    margin: 2% 25% 2%;
    display: flex;
    justify-content: center;
}
button {
   margin: 0px 0px 0px 30px;
   color: rgba(225, 225, 225, 0.945);
}
header {
    justify-content: center;
    grid-area: one;
}
#monster-name {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.monster-display {
    display: grid;
    background-color:rgba(157, 119, 38, 0.564);
    grid-template-areas: 
    "one one one"
    "two three four"
    "two three five"
    "two three six"
    "seven seven seven";
    
}
.photo {
    width: 150px;
    height: 150px;
    grid-area: two;
}
.facts {
    width: 150px;
    height: 450px;
    grid-area: three;
}
.info {
    width: 300px;
    height: 150px;
    grid-area: four;
}
.skills {
    width: 300px;
    height: 150px;
    grid-area: five;
}
.weak {
    width: 300px;
    height: 150px;
    grid-area: six;
}