body{
    display: flexbox;
    align-content: center;
    background-color: #226F54;
    font-family: 'Diablo', sans-serif;
}
header {
    padding: 20px;
    background:#87C38F;
    margin: 0;
    border-radius: 15px;
    text-align: center;
}
header h1 {
    font-size: 5em;
    text-transform: capitalize;
    font-weight: 100;
    color: #F4F0BB;
    text-shadow: rgba(0, 0, 0, 0.845) 3px 3px;
    margin: 0;
    padding: 0;
}
.container {
    height: 60px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 40px;
 
}
.container .input {
    border: 0;
    border-radius: 50px;
    outline: none;
    color:rgb(255, 255, 255);
    background:rgba(147, 108, 2, 0.658);
}
.search_wrap {
    border-radius: 30px;
    width: 500px;
    margin: 30px auto;
    
}
.search_wrap .search_box {
    position: relative;
    width: 500px;
    height: 60px;
    border-radius: 60%;
}
.search_wrap .search_box .input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    padding: 3px 25px;
    border-radius: 30px;
    font-size: 30px;
}
.search_wrap .search_box .btn{
    position: absolute;
    right: -1.45em;
    top: 0.15em;
    height: 60px;
    width: 50px;
    z-index: 1;
    border-radius: 30%;
}
.search_wrap .search_box .btn:hover{
    border-radius: 30%;
}
.search_wrap .search_box .btn.btn_common .fa-solid {
    padding: .1em;
    color:rgba(0, 0, 0, 0.845);
    font-size: 46px
}
.search_wrap .search_box .input {
    padding-right: 5%;
}
#monster-name {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}
#monster-name .name {
    font-size: 50px;
    color:rgb(106, 162, 16);
    text-shadow: rgba(0, 0, 0, 0.845) 2px 4px;
    margin: 0;
}
#display {
    display: flex;
    background-color:rgba(189, 167, 42,);
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin: 0em 1em 0em 1em;
}
.column {
    border: 6px rgb(42, 33, 67) solid;
    width: 30%;
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    color: #F4F0BB
}
.column h2.attribute, .column h2.skills-title, .column h2.weak-title  {
    margin: 0px 0px 6px 0px;
    text-decoration: underline rgba(162, 84, 25, 0.845);
    text-decoration-thickness: 2.75px;
    text-shadow:rgba(0, 0, 0, 0.845) 1px 1.5px;
    color:#87C38F;
    font-size: 40px;
}
.column a.stat {
    margin-right: 5px;
    text-shadow:rgba(0, 0, 0, 0.845) 1px 1.5px;
    color:#226F54;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .5px;
    justify-items: left;
}
.column h4.skill {
    text-shadow:rgba(0, 0, 0, 0.845) 1px 1.5px;
    color:rgba(2, 147, 132, 0.913);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .25px;
    margin: 0;
    border: 2px rgba(156, 59, 59, 0.845) dotted;
}
.column a.data-text {
    text-transform: capitalize;
    font-size: 24px;
}
.column a.skill-desc {
    color:#F4F0BB;
    text-shadow: rgba(0, 0, 0, 0.845) 1px 1.4px;
    font-size: 20px;
}
.column a.weak-item {
    text-shadow:rgba(0, 0, 0, 0.845) 2px 3px;
    color:rgba(207, 115, 211, 0.913);
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}
.fa-skull:before {
    font-size: 25px;
    color:rgba(128, 41, 145, 0.705);
    margin: 0px 20px 0px 0px;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

#monster-selector, .custom-select {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
}
.monster-list {
    display: block;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #43291f;
  }
  header {
      font-size: 8px;
  }
  .container, .search_wrap .search_box, .input {
      width: 450px;
  }
  .column {
      width: 450px;
  }
  #display {
      display: flex;
      flex-flow: column;
  }
}